<div class='message'> 
    <div class='message-info'>
        <p class='username'> {{ message.username }} </p>
        <p class='time'> {{ message.timestamp }} </p>
    </div>
    <p class='message-text'> {{ message.text }} </p>
</div>