body {
    font-family: Cambria, Georgia, serif;
    margin: 0;
    background-color: #2a2a2a;
}

.logout-div {
    padding-top: 10px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.title-container {
    color: #fff;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    height: 90vh;
}

.active-users-container {
    border-radius: 10px 0px 0px 10px;
    width: 30%;
    padding: 20px;
    background-color: #25463C;
}

.active-users-container h4 {
    text-align: center;
    color: #ffffff;
}

.active-users-list {
    overflow-y: auto;
    text-align: center;
}

.active-users-list button{
    width: 80%;
    padding: 10px;
    margin: 3px;
    word-wrap: break-word;
}

.chat-area {
    border-radius: 0px 10px 10px 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #474554;
    padding: 4px;
}

.chat-area h4 {
    text-align: center;
    color: #fff;
}
  
#chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #ACA9BB;
}

.message {
    border: 2px solid #25463C;
    border-radius: 8px;
    margin-bottom: 3px;
    padding: 5px;
    background-color: #fff; 
}

.message:hover {
    background-color: #f3f3f3;
}
  
.message-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}
  
.username {
    font-weight: bold;
}
  
.time {
    color: #4f4f4f;
}
  
.message-text {
    word-wrap: break-word;
}

.message-input-container {
    display: flex;
    padding: 10px;
    background-color: #f2f2f2;
}

.message-input-container input {
    border-radius: 3px;
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
}
